.type-signature {
	margin-right: 10px;
}

.optional:after {
	border-radius: 9px 9px 9px 9px;
	display:inline-block;
	padding:2px 4px;
	font-size:11.844px;
	font-weight:bold;
	line-height:14px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#999
}

#main .description {
	margin-left: 0;
}

#main .subnav {
	padding-bottom: 20px;
	padding-left: 0;
}

.subnav .nav-header {
	padding-top: 20px;
}

.params .name, .props .name, .name code {
	color: #015D1A;
}

.prettyprint  {
	width: auto;
}

footer {
	font-size: inherit;
	font-style: inherit;
}

#openURC, #jQuery {
    float: right;
}
#mainnav #openURC a {
    background: url(images/urc_logo_little.png) no-repeat 0 2px;
    width: 60px;
    padding: 0;
}
#mainnav #jQuery a {
    background: url(images/jquery_logo_little.png) no-repeat 0 6px;
    width: 88px;
    padding: 0;
    margin-right: 20px;
}



@media screen and (max-width: 800px) {
    #mainnav ul.nav li a {
        padding: 0 25px;
    }
    #body div.thumbnail img {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    #body div.thumbnail img {
        width: auto;
    }
    #mainnav ul.nav li a {
        padding: 0 10px;
    }
    #body #highlight .hero-unit h1 {
        font-size: 40px;
    }
    #body #highlight .hero-unit {
        font-size: 100%;
        line-height: 20px;
    }
    #main .subnav, #main .site {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 520px) {
    #mainnav #jQuery, #mainnav #openURC {
        display: none;
    }
	#body footer {
		font-size: 80%;
	}
}