html, body {
    height: 100%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../thirdparty/fonts/roboto-regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../thirdparty/fonts/roboto-bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../thirdparty/fonts/roboto-black.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../thirdparty/fonts/roboto-italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../thirdparty/fonts/roboto-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../thirdparty/fonts/roboto-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../thirdparty/fonts/roboto-black.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../thirdparty/fonts/roboto-italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../thirdparty/fonts/roboto-regular.eot);
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../thirdparty/fonts/roboto-regular.eot) format('embedded-opentype'), url(../thirdparty/fonts/roboto-regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../thirdparty/fonts/roboto-bold.eot);
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../thirdparty/fonts/roboto-bold.eot) format('embedded-opentype'), url(../thirdparty/fonts/roboto-bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(../thirdparty/fonts/roboto-black.eot);
  src: local('Roboto Black'), local('Roboto-Black'), url(../thirdparty/fonts/roboto-black.eot) format('embedded-opentype'), url(../thirdparty/fonts/roboto-black.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../thirdparty/fonts/roboto-italic.eot);
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../thirdparty/fonts/roboto-italic.eot) format('embedded-opentype'), url(../thirdparty/fonts/roboto-italic.woff) format('woff');
}


#body, #body * {
    font-family: 'Roboto'
}
#body code, #body code * {
    font-family: monospace;
}

#body a {
    color: #115A24;
    &:hover {
        color: #015D1A;
    }
    &.btn, &.btn:hover {
        color: inherit;
    }
}

.gradient(@color1, @color2) {
    background-image: -webkit-linear-gradient(@color1 0%, @color2 100%); 
    background-image: -moz-linear-gradient(@color1 0%, @color2 100%); 
    background-image: -o-linear-gradient(@color1 0%, @color2 100%); 
    background-image: linear-gradient(@color1 0%, @color2 100%);
}

.gradient(@color1, @color2, @color3) {
    background-image: -webkit-linear-gradient(@color1 0%, @color2 50%, @color3 100%); 
    background-image: -moz-linear-gradient(@color1 0%, @color2 50%, @color3 100%); 
    background-image: -o-linear-gradient(@color1 0%, @color2 50%, @color3 100%); 
    background-image: linear-gradient(@color1 0%, @color2 50%, @color3 100%);
}


.wrapper {
    max-width: 940px;
    .container-fixed;
}
    
#mainnav {
    border: none;
    margin: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    .gradient(#2e2e2e, #1a1a1a);
    height: 37px;
    border-bottom: 1px solid #3e3e3e;
    box-shadow: 0px 5px 5px #000;
    ul.nav {
        .wrapper;
        padding: 0 30px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        li {
            margin-top: 0;
            height: 100%;
            &.active a, a:hover {
                .gradient(#f4f4f4, #bdbdbd);
            }
            a {
                font-weight: 700;
                color: #eee;
                height: 33px;
                padding: 0 50px;
                line-height: 33px;
                margin: 2px;
            }
            a:hover, &.active a, &.active a:hover {
                color: #222;
            }
        }
    }
}
header#header {
    padding: 0;
    #highlight {
        position: relative;
        .gradient(#083013, #00601b, #083013);
        .hero-unit {
            .wrapper;
            position: relative;
            width: auto;
            z-index: 1;
            margin: 0 auto;
            color: #fff;
            text-shadow: 0px 0px 14px #000;
            background: none;
            a {
                box-shadow: 0px 0px 2px #000;
            }
            padding: 30px;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(images/pattern.png);
            z-index: 0;
            opacity: 0.3;
        }
        &:hover:after {
            opacity: 0.5;
        }
    }
    
}
#content {
    min-height: 100%;
}
.content-top {
    height: 37px;
    clear: both;
}
.content-bottom {
    height: 37px;
    clear: both;
}
.headline {
    margin-top: 30px;
    &:after {
        
    }
}
footer {
    height: 37px;
    margin-top: -37px;
    .gradient(#2e2e2e, #1a1a1a);
    color: #eee;
    line-height: 37px;
    .wrapper {
        padding: 0 30px;
    }
    .name {
        float: left;
    }
    .license {
        float: right;
    }
}
#main {
    width: auto;
    padding: 0 30px;
    float: none;
    .subnav {
        border: none;
        float: right;
        width: 30%;
        margin: 30px 0 0 0;
        .well {
            padding: 0 0 10px 0;
        }
    }
    .site {
        float: left;
        width: 65%;
        margin: 0;
        padding: 0;
    }
    section {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.tera {
    font-size: @baseFontSize * 2.5;
}
.giga {
    font-size: @baseFontSize * 2.25;
}
.mega {
    font-size: @baseFontSize * 2.0;
}
.kilo {
    font-size: @baseFontSize * 1.75;
}
.hecto {
    font-size: @baseFontSize * 1.5;
}

#main .spacer {
    .wrapper;
    position: relative;
}

#main .subnav {
	padding-bottom: 20px;
}

#body .subnav .nav-header {
    padding-top: 20px;
    a {
        color: inherit;
    }
}

code, .params .name, .props .name, .name code {
	color: #015D1A;
}

.prettyprint  {
	width: auto;
}

#openURC, #jQuery {
    float: right;
}
#mainnav #openURC a {
    background: url(images/urc_logo_little.png) no-repeat 0 2px;
    width: 60px;
    padding: 0;
}
#mainnav #jQuery a {
    background: url(images/jquery_logo_little.png) no-repeat 0 6px;
    width: 88px;
    padding: 0;
    margin-right: 20px;
}

#body div.thumbnail {
    padding: 17px;
}

#body div.thumbnail a {
    padding: 15px 0;
}

#body div.thumbnail a, #body div.thumbnail img {
    display: block;
    margin: 0 auto;
}

#main h2 {
    padding-top: 50px;
}
#main h3 {
    padding-top: 10px;
}


@media screen and (max-width: 800px) {
    #mainnav ul.nav li a {
        padding: 0 25px;
    }
    #body div.thumbnail img {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    #body div.thumbnail img {
        width: auto;
    }
    #mainnav ul.nav li a {
        padding: 0 10px;
    }
    #body #highlight .hero-unit h1 {
        font-size: 40px;
    }
    #body #highlight .hero-unit {
        font-size: 100%;
        line-height: 20px;
    }
    #main .subnav, #main .site {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 520px) {
    #mainnav #jQuery, #mainnav #openURC {
        display: none;
    }
    #body footer {
        font-size: 80%;
    }
}